<div class="container">
  <form [formGroup]="form">
    <div class="form-group">
      <label>Name</label>
      <input
        type="text"
        class="form-control"
        required
        name="name"
        placeholder="Name"
        formControlName="name"
      />
      <div
        class="alert alert-danger"
        *ngIf="inputName.touched && inputName.invalid"
      >
        <div *ngIf="inputName.errors?.['required']">
          Please fill in this name field
        </div>
        <div *ngIf="inputName.errors?.['minlength']">
          Minimum length of 5 characters is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input
        type="text"
        class="form-control"
        required
        name="email"
        placeholder="Email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        formControlName="email"
      />
      <div
        class="alert alert-danger"
        *ngIf="inputEmail.touched && inputEmail.invalid"
      >
        <div *ngIf="inputEmail.errors?.['required']">
          Please fill in this name field
        </div>
        <div *ngIf="inputEmail.errors?.['pattern']">
          Please enter a valid email
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Name</label>
      <textarea
        cols="40"
        rows="5"
        class="form-control"
        required
        name="description"
        placeholder="Description"
        formControlName="description"
      ></textarea>
      <div
        class="alert alert-danger"
        *ngIf="inputDescription.touched && inputDescription.invalid"
      >
        <div *ngIf="inputDescription.errors?.['required']">
          Please fill in this name field
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
