<div class="d-flex justify-content-end">
  <input
    type="text"
    class="form-control mb-3"
    placeholder="search for license-plate (number only)"
    [(ngModel)]="searchText"
    autofocus
  />
</div>
<div
  *ngFor="let eachInfo of regList | appFilter : searchText; let index = index"
  class="card item-info-card"
>
  <div class="d-flex justify-content-between">
    <div>
      <span class="font-weight-bold">Name:</span> {{ eachInfo.ownerName }}
    </div>
    <div>
      <span class="font-weight-bold">Liscense:</span>
      <span class="font-weight-bold text-primary">
        #{{ eachInfo.licensePlate }}</span
      >
    </div>
  </div>
  <div *ngIf="eachInfo.carType.toString() === '0'">
    <span class="font-weight-bold">Vehicle Type:</span> 4 seated
  </div>
  <div *ngIf="eachInfo.carType.toString() === '1'">
    <span class="font-weight-bold">Vehicle Type:</span> 7 seated
  </div>
  <div *ngIf="eachInfo.carType.toString() === '2'">
    <span class="font-weight-bold">Vehicle Type:</span> truck
  </div>
  <div>
    <span class="font-weight-bold">Other Service:</span>
    {{ " "
    }}<span
      *ngIf="!eachInfo.otherService.oilChange && !eachInfo.otherService.carWash"
      >None</span
    >
    {{ " " }}<span *ngIf="eachInfo.otherService.oilChange">Oil Change</span>
    {{ " " }}<span *ngIf="eachInfo.otherService.carWash">Car Wash</span>
  </div>
  <div>
    <span class="font-weight-bold">Register Time:</span>
    {{ eachInfo.regDateTime | date : "medium" }}
  </div>
  <div>
    <span class="font-weight-bold">Current Fee:</span>
    {{ eachInfo.fee | currency : "USD" : "symbol" : "1.0-0" }}
  </div>

  <div class="d-flex justify-content-end">
    <button class="btn btn-sm btn-danger" (click)="deleteInfoHandler(index)">
      Delete
    </button>
  </div>
</div>
