@media (max-width: 768px) {
  .data-display-container {
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .form-container {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #999;
  }
}
